[Container]
Image=quay.io/podman/stable:v5.8.7-immutable@sha256:f345d8d4fddea244d3a1ced27bcec82d14cc9e32cb5ead7f5882b0baf59dc8b0
ContainerName=pinp

Environment=PODMAN_USERNS=nomap

Volume=/home/podman/.local/share/containers
Volume=/home/podman/.cache
Volume=pinp-socket.volume:/run/podman:U,z

ReadOnly=true

User=podman
UserNS=auto:size=65536
NoNewPrivileges=true
DropCapability=all
AddCapability=CAP_SETUID
AddCapability=CAP_SETGID
AddCapability=CAP_SYS_CHROOT
SecurityLabelType=container_engine_t

Exec=podman system service --time=0 unix:///run/podman/podman.sock

HealthCmd=podman --remote --url unix:///run/podman/podman.sock info > /dev/null || exit 1
HealthInterval=30s
HealthTimeout=3s
HealthRetries=3
HealthOnFailure=kill
Notify=healthy

PidsLimit=-1

[Service]
Restart=always
RestartSec=3s
# Allow the Jenkins container to connect to the PinP socket
ExecStartPost=podman exec pinp chmod 0602 /run/podman/podman.sock

[Install]
WantedBy=default.target
